{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block title %}<title>Home</title>{% endblock %}

    </head>
    <body>
      {% block content %}

      {% endblock %}
        <script src="{% static '/js/jquery-3.2.1.slim.min.js'%}"></script>
        <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
        <!--Para desarrollo
        <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="../static/bootstrap/js/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>-->
        <script>
        $(document).ready(function() {
            $('#services').click(function(){
                $('html, body').scrollTop($('#services-top').position().top-100);
                return false;
            });
            $('#about').click(function(){
                $('html, body').scrollTop($('#about-top').position().top-100);
                return false;
            });
            $('#projects').click(function(){
                $('html, body').scrollTop($('#projects-top').position().top-100);
                return false;
            });
            $('#contact').click(function(){
                $('html, body').scrollTop($('#contact-top').position().top-100);
                return false;
            });

        });
        </script>
    </body>
</html>
