@import url("https://fonts.googleapis.com/css?family=Raleway:700,400,600");
#header {
  max-width: 100%;
  height: 760px;
  background-image: url("../fondo-principal.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed; }
  @media screen and (max-width: 480px) {
    #header {
      height: 760px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    #header {
      height: 760px; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    #header {
      height: 760px; } }

.nav-item {
  text-align: center; }

.navbar-nav {
  margin-right: 50px; }

.navbar-light .navbar-toggler {
  margin-right: 3%; }

#navbarSupportedContent {
  background-color: white; }

.bg-light {
  background-color: white !important;
  padding: 0;
  height: 100px; }

.navbar-brand {
  width: 350px;
  height: 100px;
  background-color: white; }
  @media screen and (max-width: 480px) {
    .navbar-brand {
      width: 240px; } }
  @media screen and (max-width: 400px) {
    .navbar-brand {
      width: 240px; } }

.logo {
  background-image: url("../SVGlogo.svg");
  background-size: 300%;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  width: 30%;
  height: 100px;
  margin-top: -5px;
  float: left; }

.logo-titulo {
  width: 70%;
  height: 100px;
  margin-top: -5px;
  padding-top: 25px;
  float: right;
  font-size: 1.05em;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (max-width: 400px) {
    .logo-titulo {
      font-size: 0.8em;
      letter-spacing: 1px; } }

#inc-estilo {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase; }

#titulo-principal {
  font-size: 4.2em;
  font-weight: bold;
  letter-spacing: 8px;
  position: relative;
  top: 25%;
  bottom: 25%;
  text-transform: uppercase;
  color: #fff; }
  @media screen and (max-width: 480px) {
    #titulo-principal {
      font-size: 1.5em;
      letter-spacing: 5px; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    #titulo-principal {
      font-size: 2.5em;
      letter-spacing: 5px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    #titulo-principal {
      font-size: 3.5em;
      letter-spacing: 5px; } }

#sub-titulo {
  position: relative;
  top: 30%;
  font-size: 1.4em;
  text-align: center;
  font-style: italic;
  color: black; }
  @media screen and (max-width: 480px) {
    #sub-titulo {
      font-size: 1em; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    #sub-titulo {
      font-size: 1.1em; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    #sub-titulo {
      font-size: 1.3em; } }

.bor {
  margin-bottom: 50px; }

#titulo-services {
  border-bottom: 1px solid #edcd1f;
  border-bottom-width: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #C6C6C6;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4em; }

.container-img-services {
  height: 100%;
  margin-top: 20px;
  background-color: #f7f7f7; }

.titulo-img-services {
  text-align: center;
  font-size: 1.3em;
  font-weight: 800;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  height: 80px;
  color: #3D5975; }

.parrafo-img-services {
  font-size: 1em;
  line-height: 25px;
  text-align: left;
  margin: auto;
  width: 85%;
  font-weight: 300;
  color: black; }

#vineta {
  font-weight: 600; }

.altura {
  background-color: #f7f7f7; }
  @media screen and (max-width: 766px) {
    .altura {
      min-height: 200px;
      height: 50%;
      width: 100%; } }

.title-about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  border-bottom: 1px solid #edcd1f;
  border-bottom-width: 3px;
  color: #C6C6C6;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 4em; }

.paragraph-about {
  margin: auto;
  width: 80%;
  line-height: 30px;
  color: black; }

.img-about {
  min-height: 600px;
  height: 100%;
  padding-right: 0px;
  background-attachment: cover;
  background-position: center; }
  @media screen and (max-width: 766px) {
    .img-about {
      min-height: 300px;
      height: 50%;
      width: 100%; } }

.altura-data {
  min-height: 250px;
  background-color: #edcd1f; }

.delete-margin {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 70px; }

.title-projects {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px; }

.img-projects {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  z-index: -1; }
  .img-projects:hover {
    opacity: 0.2; }
  @media screen and (max-width: 480px) {
    .img-projects {
      height: 300px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .img-projects {
      height: 400px; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .img-projects {
      height: 400px; } }

.sobre-fondo {
  z-index: 100;
  position: relative; }
  .sobre-fondo:hover {
    background-color: white; }

#img-link {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  text-align: center;
  color: black;
  font-weight: 800;
  font-size: 1.2em; }

.altura-contact {
  height: 700px; }

.title-contact {
  font-weight: 600;
  font-size: 1.8em; }

.p-contact {
  line-height: 25px;
  margin-bottom: 50px; }

.contenedor {
  width: 100%;
  height: 500px; }

.img-working {
  max-width: 100%;
  height: 100%;
  background-image: url("../SVGlogo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.titulo {
  width: 90%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffcc00;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  transform: rotate(-10deg); }

h1 {
  font-size: 6em;
  font-weight: bold;
  color: black;
  text-align: center;
  vertical-align: middle; }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 1.8em; } }
  @media screen and (min-width: 500px) {
    h1 {
      font-size: 3em; } }

#titulo-projects-description {
  border-bottom: 1px solid #edcd1f;
  border-bottom-width: 10px;
  text-overflow: ellipsis;
  text-align: center;
  color: #C6C6C6;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 6vw; }
  @media screen and (max-width: 480px) {
    #titulo-projects-description {
      font-size: 8vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    #titulo-projects-description {
      font-size: 8vw; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    #titulo-projects-description {
      font-size: 7vw; } }

.paragraph-projects {
  margin: auto;
  width: 90%;
  line-height: 30px;
  color: black;
  margin-bottom: 50px; }

.img-projects-carousel {
  max-height: 500px;
  min-height: 500px;
  margin-top: 0px;
  margin-bottom: 100px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

body {
  font-family: "Raleway", "Arial";
  color: black;
  height: 100%; }

li {
  color: black; }

/*# sourceMappingURL=style.css.map */
